.input-container {
    display: flex;
    gap: 60px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.input-group button:hover {
    background-color: #f0f0f0; /* Highlight button on hover */
}
